{# ------------------------------------------------------ qrid ------------------------------------------------------ #}
{% block grid %}
<div class="grid">
    <form action="{{ grid.routeUrl }}" method="post">
        {% if grid.actions.count > 0 %}
            {{ grid_actions(grid) }}
        {% endif %}
        <table>
        {% if grid.isTitleSectionVisible %}
            {{ grid_titles(grid) }}
        {% endif %}

        {% if grid.isFilterSectionVisible %}
            {{ grid_filters(grid) }}
        {% endif %}

        {{ grid_rows(grid) }}
        </table>
        {% if grid.isPagerSectionVisible %}
            {{ grid_pager(grid) }}
        {% endif %}
    </form>
</div>
{% endblock %}
{# --------------------------------------------------- grid_titles -------------------------------------------------- #}
{% block grid_titles %}
    <tr>
    {% for column in grid.columns %}
        {% if (column.visible )%}
        <th class="title"{% if(column.size > -1) %} style="width:{{column.size}}px"{% endif %}>
        {% if (column.sortable) %}
            <a href="{{ grid_url('order', grid, column) }}" title="Order by {{ column.title }}">{{ column.title }}</a>
            {% if column.order == 'asc' %}
                <div class="sort_up"></div>
            {% elseif column.order == 'desc' %}
                <div class="sort_down"></div>
            {% endif %}
        {% else %}
            {{ column.title }}
        {% endif %}
        </th>
        {% endif %}
    {% endfor %}
    </tr>
{% endblock %}
{# -------------------------------------------------- grid_filters -------------------------------------------------- #}
{% block grid_filters %}
    <tr>
    {% for column in grid.columns %}
        {% if (column.visible)%}
        <th>{% if column.filterable %}{{ grid_filter(column, grid)|raw }}{% endif %}</th>
        {% endif %}
    {% endfor %}
    </tr>
{% endblock %}
{# ---------------------------------------------------- grid_rows --------------------------------------------------- #}
{% block grid_rows %}
    {% for row in grid.rows %}
    <tr{% if row.color != '' %} style="background-color:{{row.color}};"{% endif %}>
    {% for column in grid.columns %}
        {% if (column.visible )%}
            {% if loop.last %}
            <td class="last">{{ grid_cell(column, row, grid)|raw }}</td>
            {% else %}
            <td>{{ grid_cell(column, row, grid)|raw }}</td>
            {% endif %}
        {% endif %}
    {% endfor %}
    </tr>
    {% endfor %}
{% endblock %}
{# ---------------------------------------------------- grid_pager -------------------------------------------------- #}
{% block grid_pager %}
<div class="pager">
{{ 'datagrid.page'|trans }}
{% spaceless %}
<input type="button" class="prev" {% if grid.page <= 0 %}disabled="disabled"{% endif %} value="<" onclick="window.location.href='{{grid_url('page', grid, grid.page-1)}}'"/>
<input type="text" value="{{grid.page+1}}" size="2" onkeypress="if (event.which == 13)window.location.href='{{grid_url('page', grid)}}'+(parseInt(this.value)-1)"/>
<input type="button" value=">" class="next" {% if grid.page >= grid.pagecount-1 %}disabled="disabled"{% endif %} onclick="window.location.href='{{grid_url('page', grid, grid.page+1)}}'"/> {{ 'datagrid.count'|trans({'%count%': grid.pagecount}) }}
{% endspaceless %}
{{ 'datagrid.display'|trans }} <select onchange="window.location.href='{{grid_url('limit', grid)}}'+this.value">
{% for key, value in grid.limits %}
    {% if key == grid.currentlimit %}
        <option value="{{key}}" selected="selected">{{value}}</option>
    {% else %}
        <option value="{{key}}">{{value}}</option>
    {% endif %}
{% endfor %}
</select> {{ 'datagrid.items'|trans }}
</div>
{% endblock %}
{# --------------------------------------------------- grid_actions ------------------------------------------------- #}
{% block grid_actions %}
<div class="mass-actions">
<a href="#">{{ 'datagrid.select.visible'|trans }}</a> |
<a href="#">{{ 'datagrid.deselect.visible'|trans }}</a> |
<a href="#">{{ 'datagrid.select.all'|trans }}</a> |
<a href="#">{{ 'datagrid.deselect.all'|trans }}</a>
<div style="float:right">
{{ 'datagrid.action.label'|trans }} <select name="{{grid.getHash}}[__action_id]">
    <option value="-1"></option>
    {% for key, value in grid.actions %}
    <option value="{{key}}">{{ value.title|trans }}</option>
    {% endfor %}
</select><input type="submit"  value="{{ 'datagrid.action.submit'|trans }}"/>
</div>
</div>
{% endblock %}


