{# ------------------------------------------------------ qrid ------------------------------------------------------ #}
{% block grid %}
<div class="grid">
    <form id="{{ grid.hash }}" action="{{ grid.routeUrl }}" method="post">
        {% if grid.massActions|length > 0 %}
            {{ grid_actions(grid) }}
        {% endif %}
        <table>
        {% if grid.isTitleSectionVisible %}
            {{ grid_titles(grid) }}
        {% endif %}

        {% if grid.isFilterSectionVisible %}
            {{ grid_filters(grid) }}
        {% endif %}

        {{ grid_rows(grid) }}
        </table>
        {% if grid.isPagerSectionVisible %}
            {{ grid_pager(grid) }}
        {% endif %}
    </form>
</div>
{% endblock %}
{# --------------------------------------------------- grid_titles -------------------------------------------------- #}
{% block grid_titles %}
    <tr class="grid-row-titles">
    {% for column in grid.columns %}
        {% if (column.visible )%}
        <th class="{% if column.align != 'left'%} align-{{column.align}}{% endif %}"{% if(column.size > -1) %} style="width:{{column.size}}px"{% endif %}>
        {% if (column.sortable) %}
            <a href="{{ grid_url('order', grid, column) }}" title="Order by {{ column.title }}">{{ column.title }}</a>
            {% if column.order == 'asc' %}
                <div class="sort_up"></div>
            {% elseif column.order == 'desc' %}
                <div class="sort_down"></div>
            {% endif %}
        {% else %}
            {{ column.title }}
        {% endif %}
        </th>
        {% endif %}
    {% endfor %}
    </tr>
{% endblock %}
{# -------------------------------------------------- grid_filters -------------------------------------------------- #}
{% block grid_filters %}
    <tr class="grid-row-filters">
    {% for column in grid.columns %}
        {% if (column.visible)%}
        <th>{% if column.filterable %}{{ grid_filter(column, grid)|raw }}{% endif %}</th>
        {% endif %}
    {% endfor %}
    </tr>
{% endblock %}
{# ---------------------------------------------------- grid_rows --------------------------------------------------- #}
{% block grid_rows %}
    {% for row in grid.rows %}
    {% spaceless %}
    <tr{% if row.color != '' %} style="background-color:{{row.color}};"{% endif %} class="grid-row-cells">
    {% for column in grid.columns %}
        {% if (column.visible )%}
            <td{% if column.align != 'left'%} class="align-{{column.align}}"{% endif %}>{{ grid_cell(column, row, grid)|raw }}</td>
        {% endif %}
    {% endfor %}
    {% endspaceless %}
    </tr>
    {% endfor %}
{% endblock %}
{# ---------------------------------------------------- grid_pager -------------------------------------------------- #}
{% block grid_pager %}
<div class="pager">
    {{ 'Page'|trans }}
    {% spaceless %}
    <input type="button" class="prev" {% if grid.page <= 0 %}disabled="disabled"{% endif %} value="<" onclick="window.location.href='{{grid_url('page', grid, grid.page-1)}}'"/>
    <input type="text" value="{{grid.page+1}}" size="2" onkeypress="if (event.which == 13)window.location.href='{{grid_url('page', grid)}}'+(parseInt(this.value)-1)"/>
    <input type="button" value=">" class="next" {% if grid.page >= grid.pagecount-1 %}disabled="disabled"{% endif %} onclick="window.location.href='{{grid_url('page', grid, grid.page+1)}}'"/> {{ 'of %count%'|trans({'%count%': grid.pagecount}) }}
    {% endspaceless %}
    {{ ', Display'|trans }}
    <select onchange="window.location.href='{{grid_url('limit', grid)}}'+this.value">
    {% for key, value in grid.limits %}
        {% if key == grid.currentlimit %}
            <option value="{{key}}" selected="selected">{{value}}</option>
        {% else %}
            <option value="{{key}}">{{value}}</option>
        {% endif %}
    {% endfor %}
    </select> {{ 'Items per page'|trans }}
</div>
{% endblock %}
{# --------------------------------------------------- grid_actions ------------------------------------------------- #}
{% block grid_actions %}
<div class="mass-actions">
    <a href="#" onclick="return {{grid.getHash}}_mark_visible(true);">{{ 'Select visible'|trans }}</a> |
    <a href="#" onclick="return {{grid.getHash}}_mark_visible(false);">{{ 'Deselect visible'|trans }}</a> |
    <a href="#" onclick="return {{grid.getHash}}_mark_all(true);">{{ 'Select all'|trans }}</a> |
    <a href="#" onclick="return {{grid.getHash}}_mark_all(false);">{{ 'Deselect all'|trans }}</a>
    {% spaceless %}
    <div style="float:right">
        {{ 'Action'|trans }}
        <input type="hidden" name="{{grid.getHash}}[__action_all]" value="0"/>
        <select name="{{grid.getHash}}[__action_id]">
            <option value="-1"></option>
            {% for key, value in grid.massActions %}
            <option value="{{key}}">{{ value.title|trans }}</option>
            {% endfor %}
        </select>
        <input type="submit"  value="{{ 'Submit Action'|trans }}"/>
    </div>
    {% endspaceless %}
    {{ block('grid_scripts') }}
</div>
{% endblock %}
{# --------------------------------------------------- grid_scripts ------------------------------------------------- #}
{% block grid_scripts %}
<script type="text/javascript">
function {{ grid.hash }}_mark_visible($select)
{
    var form = document.getElementById('{{ grid.hash }}');
    for (var i=0; i < form.elements.length; i++ ) {
        if (form.elements[i].type == 'checkbox') {
            form.elements[i].checked = $select;
        }
    }
    return false;
}

function {{ grid.hash }}_mark_all($select)
{
    return false;
}
</script>
{% endblock %}
