{% block grid %}
<form action="{{ grid.url }}" method="post">
    <table class="sorted-table" style="width:100%">
    {% if grid.columns.showtitles %}
        {{ grid_titles(grid.columns) }}
    {% endif %}

    {% if grid.columns.showfilters %}
        {{ grid_filters(grid.columns) }}
    {% endif %}

    {{ grid_rows(grid.rows, grid.columns) }}
    </tr>
    </table>
</form>
{{ grid_pager(grid) }}
{% endblock %}

{% block grid_titles %}
    <tr>
    {% for column in columns %}
        <th class="title"{% if(column.size > 0) %} style="width:{{column.size}}px"{% endif %}>
        <a href="{{ column.orderurl }}" title="Order by {{ column.title }}">{{ column.title }}</a>
        {% if column.order == 'asc' %}
            <div class="sort_up"></div>
        {% elseif column.order == 'desc' %}
            <div class="sort_down"></div>
        {% endif %}
        </th>
    {% endfor %}
    </tr>
{% endblock %}

{% block grid_filters %}
    <tr>
    {% for column in columns %}
        <th>{{ column.filter|raw }}</th>
    {% endfor %}
    </tr>
{% endblock %}

{% block grid_rows %}
    {% for row in rows %}
    <tr{% if row.color != '' %} style="background-color:{{row.color}};"{% endif %}>
    {% for col in columns %}
        {% if loop.last %}
        <td class="last"> {{row.field(col.id)|raw}}</td>
        {% else %}
        <td> {{row.field(col.id)|raw}}</td>
        {% endif %}
    {% endfor %}
    </tr>
    {% endfor %}
{% endblock %}

{% block grid_pager %}

{% endblock %}

